@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #131219;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent, purple);
    border-radius: 6px;
}


header{
	width: 100%;
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Josefin Sans', sans-serif;
}

header > a{
	text-decoration: none;
	color: #8524d1;
}
main{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.form{
	display: flex;
	text-align: center;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
}
.form-input, .form-label, .form-textarea, .form-button{
	margin-top: 10px;
}

.form-input, .form-textarea{
	width: 40vw;
	height: 7vh;
	background-color: #18171e;
	border: 0;
	color: grey;
	text-align: center;
}
.form-input{
	font-size: 16px;
}
.form-button{
	width: 40vw;
	height: 7vh;
	border: 0;
	background-color: #8625d2;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 17px;
}

.form-button:hover{
	cursor: pointer;
	background-color: #701fad;
}